* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }

.flex {
  display: flex; }

.borderleft {
  border-left: 1px solid #c3c3c3; }

.margintop10px {
  margin-top: 10px; }

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none; }

.hide-scroll::-webkit-scrollbar {
  display: none; }

.header-container {
  background-color: #efe9f5;
  height: 150px; }
  .header-container .top {
    height: 100px;
    justify-content: space-around;
    align-items: center; }
    .header-container .top .logo {
      height: 100px; }
      .header-container .top .logo img {
        height: 100px;
        width: 200px; }
    .header-container .top .category-btn-container {
      align-items: center; }
      .header-container .top .category-btn-container .category-btn {
        color: #360d5e;
        font-size: 20px;
        width: 50px;
        height: 40px;
        border: 1px solid #c3c3c3;
        align-items: center;
        border-radius: 3px;
        justify-content: space-around;
        background-color: none; }
    .header-container .top .category-btn:hover {
      background-color: #9543e6;
      color: #fff; }
    .header-container .top .search-bar {
      margin-left: 50px;
      display: flex; }
      .header-container .top .search-bar input {
        font-size: 17px;
        height: 40px;
        width: 700px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
        padding-left: 5px;
        outline: none; }
      .header-container .top .search-bar .search-btn {
        height: 40px;
        width: 50px;
        border: none;
        border-left: 1px solid #c3c3c3;
        background-color: #7b2cbf;
        font-size: 20px;
        color: white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }
      .header-container .top .search-bar .search-btn:hover {
        background-color: #9543e6; }
    .header-container .top .cart {
      margin-left: 30px;
      font-size: 20px;
      align-items: center; }
      .header-container .top .cart .cart-right {
        margin-left: 7px; }
        .header-container .top .cart .cart-right .number-of-product {
          background-color: #ff424e;
          color: #fff;
          font-size: 12px;
          width: 22px;
          line-height: 22px;
          border-radius: 100%;
          text-align: center; }
        .header-container .top .cart .cart-right .title {
          margin-top: 2px;
          font-size: 16px; }
    .header-container .top .cart:hover {
      color: #9543e6; }
  .header-container .nav-bar {
    border-top: 1px solid #c3c3c3;
    align-items: center;
    height: 50px;
    justify-content: space-between; }
    .header-container .nav-bar .nav-btn {
      color: #360d5e;
      font-size: 19px;
      margin-left: 20px;
      font-family: "Pacifico", cursive; }
    .header-container .nav-bar .nav-btn:hover {
      color: #9543e6; }
    .header-container .nav-bar .nav-bar-left {
      margin-left: 50px; }
    .header-container .nav-bar .nav-bar-right {
      margin-right: 80px; }
      .header-container .nav-bar .nav-bar-right .nav-btn {
        padding-left: 20px; }

.footer-container {
  background-color: #340a59; }
  .footer-container .footer-left img {
    width: 300px;
    height: 100px;
    margin-left: 20px; }
  .footer-container .footer-left .link-list .link-btn {
    padding-left: 10px;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    font-family: "Pacifico", cursive; }
  .footer-container .footer-left .link-list .link-btn:hover {
    color: #efe9f5; }
  .footer-container .footer-right {
    margin-left: 20px;
    padding-top: 10px; }
    .footer-container .footer-right .title {
      color: #fff;
      font-size: 18px;
      font-weight: 600; }
    .footer-container .footer-right .info {
      color: #757575; }
      .footer-container .footer-right .info span {
        font-size: 14px;
        color: #fff; }
    .footer-container .footer-right .contact {
      margin-left: 10px; }
    .footer-container .footer-right .about-us {
      margin-left: 80px; }
      .footer-container .footer-right .about-us .aboutus-btn {
        color: #fff;
        display: block; }
  .footer-container .copyright {
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    color: #fff; }

.categorycard-container {
  width: 100%;
  padding: 10px; }
  .categorycard-container img {
    width: 30px; }
  .categorycard-container .title {
    margin-left: 10px;
    font-size: 18px;
    align-items: center;
    display: flex;
    color: #757575; }

.categorycard-container:hover {
  box-shadow: 0 0 5px 0 #c3c3c3; }

.category-container {
  margin: 5px;
  height: 200px;
  width: 350px;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
  overflow: scroll; }

.banners {
  overflow: hidden; }
  .banners img {
    width: 500px !important;
    height: 200px; }
  .banners .slick-dots {
    bottom: 10px;
    z-index: 3; }
    .banners .slick-dots li button:before {
      font-size: 10px;
      color: white; }
  .banners .slick-prev,
  .banners .slick-next {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    width: 30px;
    height: 40px;
    z-index: 3;
    border-radius: 4px; }
  .banners .slick-next {
    right: 0px; }
  .banners .slick-prev {
    left: 0px; }
