* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.flex {
  display: flex;
}
.borderleft {
  border-left: 1px solid $border-gray-color;
}
.margintop10px {
  margin-top: 10px;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
