* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="text"],
input[type="password"] {
  outline: none;
  border: none;
}
button {
  outline: none;
  border: none;
}
button,
a {
  cursor: pointer;
}
a {
  color: black;
}
.flex {
  display: flex;
}
.borderleft {
  border-left: 1px solid $border-gray-color;
}
.margintop10px {
  margin-top: 10px;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 7;
  background-color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 8px 0 $border-gray-color;
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
}
.img-container {
  display: block;
  position: relative;
  margin: auto;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bg {
  background-color: $body-bg-color;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba($color: #000000, $alpha: 0.2);
}
.modal.active {
  display: block;
}
.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .page {
    max-width: 1260px;
    margin: 150px auto 0 auto;
  }
}
@media only screen and (min-width: 1500px) {
  .page {
    max-width: 1400px;
    background-color: $body-bg-color;
    margin-top: 150px;
  }
}
.slick-prev,
.slick-next {
  background-color: rgba($color: #000000, $alpha: 0.2) !important;
  padding: 0.5em;
  width: 30px;
  height: 40px;
  z-index: 3;
  border-radius: 4px;
}
.slick-next {
  right: 0px;
}
.slick-prev {
  left: 0px;
}
