* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.flex {
  display: flex;
}
.borderleft {
  border-left: 1px solid $border-gray-color;
}
.margintop10px {
  margin-top: 10px;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.img-container {
  display: block;
  position: relative;
  margin: auto;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bg {
  background-color: $body-bg-color;
}
@media only screen and (min-width: 1200px) {
  .page {
    max-width: 1260px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1500px) {
  .page {
    max-width: 1400px;
    background-color: $body-bg-color;
    margin-top: 150px;
  }
}
