.header-container {
  background-color: $main-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  z-index: 100;
  width: 100%;
  .top {
    height: 100px;
    justify-content: space-around;
    align-items: center;
    .logo {
      height: 100px;
      img {
        height: 100px;
        width: 200px;
      }
    }
    .category-btn-container {
      align-items: center;
      .category-btn {
        color: $text-color;
        font-size: 20px;
        width: 50px;
        height: 40px;
        border: 1px solid $border-gray-color;
        align-items: center;
        border-radius: 3px;
        justify-content: space-around;
        background-color: none;
      }
    }
    .category-btn:hover {
      background-color: $hover-color;
      color: #fff;
    }
    .search-bar {
      margin-left: 50px;
      display: flex;
      input {
        font-size: 17px;
        height: 40px;
        width: 700px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
        padding-left: 5px;
        outline: none;
      }
      .search-btn {
        height: 40px;
        width: 50px;
        border: none;
        border-left: 1px solid $border-gray-color;
        background-color: $btn-color;
        font-size: 20px;
        color: white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .search-btn:hover {
        background-color: $hover-color;
      }
    }
    .cart {
      margin-left: 30px;
      font-size: 20px;
      align-items: center;
      .cart-right {
        margin-left: 7px;
        .number-of-product {
          background-color: #ff424e;
          color: #fff;
          font-size: 12px;
          width: 22px;
          line-height: 22px;
          border-radius: 100%;
          text-align: center;
        }
        .title {
          margin-top: 2px;
          font-size: 16px;
        }
      }
    }
    .cart:hover {
      color: $hover-color;
    }
  }
  .nav-bar {
    border-top: 1px solid $border-gray-color;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    .nav-btn {
      color: $text-color;
      font-size: 19px;
      margin-left: 20px;
      font-family: "Pacifico", cursive;
    }
    .nav-btn:hover {
      color: $hover-color;
    }
    .nav-bar-left {
      margin-left: 50px;
    }
    .nav-bar-right {
      margin-right: 80px;
      .nav-btn {
        padding-left: 20px;
      }
    }
  }
}
.footer-container {
  background-color: $dark-bg-color;
  .footer-left {
    img {
      width: 300px;
      height: 100px;
      margin-left: 20px;
    }
    .link-list {
      .link-btn {
        padding-left: 10px;
        color: #fff;
        margin-left: 10px;
        font-size: 20px;
        font-family: "Pacifico", cursive;
      }
      .link-btn:hover {
        color: $main-bg-color;
      }
    }
  }
  .footer-right {
    margin-left: 20px;
    padding-top: 10px;
    .title {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
    .info {
      color: $text-color-2;
      span {
        font-size: 14px;
        color: #fff;
      }
    }
    .contact {
      margin-left: 10px;
    }
    .about-us {
      margin-left: 80px;
      .aboutus-btn {
        color: #fff;
        display: block;
      }
    }
  }
  .copyright {
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    color: #fff;
  }
}
.categorycard-container {
  width: 100%;
  padding: 10px;
  img {
    width: 30px;
  }
  .title {
    margin-left: 10px;
    font-size: 16px;
    align-items: center;
    display: flex;
    color: $text-color-2;
  }
}
.categorycard-container:hover {
  box-shadow: 0 0 5px 0 $border-gray-color;
}
.category-container {
  width: 300px;
  border-radius: 3px;
  border: 1px solid $border-gray-color;
  overflow: scroll;
}
.product-card {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  .image {
    width: 100%;
    .img-container {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-top: 100%;
    }
  }
  .name {
    font-size: 16px;
    font-weight: 400;
    color: rgb(56, 56, 61);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .row {
    display: flex;
    .sold {
      font-size: 13px;
      margin-left: 5px;
      border-left: 1px solid #c3c3c3;
      padding-left: 5px;
    }
    margin-top: 15px;
    .price {
      color: rgb(56, 56, 61);
      font-size: 20px;
    }
    .price_red {
      color: rgb(255, 66, 78);
      font-size: 20px;
    }
    .discount {
      font-size: 14px;
      color: rgb(255, 66, 78);
      background-color: rgb(255, 240, 241);
      border-radius: 1px;
      border: 1px solid rgb(255, 66, 78);
      padding: 2px;
      margin-left: 15px;
    }
  }
}
.product-card:hover {
  background-color: white;
  box-shadow: 0px 0px 15px 0px #c3c3c3;
}
.list-product {
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 20px;
}
