//main-info
.maininfo-container {
  background-color: #fff;
  border-radius: 5px;
  .image {
    width: 35%;
    padding: 10px;
    .img-container {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-top: 100%;
    }
  }
  .info {
    padding: 0.5em;
    border-left: 1px solid $border-gray-color;
    width: 40%;
    .name {
      padding: 10px;
      font-size: 24px;
      max-width: 90%;
    }
    .moreinfo {
      padding: 10px;
      color: $text-color-2;
      .star {
        color: #c3c3c3;
        .yellow_star {
          color: rgb(253, 216, 54);
        }
      }
      .number-of-rating {
        padding-left: 10px;
      }
      .sold {
        margin-left: 10px;
        border-left: 1px solid #c3c3c3;
        padding-left: 10px;
      }
    }
    .price-container {
      padding: 1em;
      background-color: $body-bg-color;
      display: block;
      .price-after-discount {
        color: rgb(255, 66, 78);
        font-size: 32px;
      }
      .no-discount {
        padding: 10px;
      }
      .discount-container {
        margin-top: 5px;
        width: fit-content;
        .price-before-discount {
          color: $text-color-2;
          font-size: 18px;
          text-decoration: line-through;
        }
        .discount {
          font-size: 14px;
          color: rgb(255, 66, 78);
          background-color: rgb(255, 240, 241);
          border-radius: 2px;
          border: 1px solid rgb(255, 66, 78);
          padding: 2px;
          margin-left: 15px;
        }
      }
    }
    .cart-action {
      margin-top: 10px;
      padding: 10px;
      font-size: 18px;
      border-top: 1px solid $border-color-2;
      .flex {
        padding-top: 10px;
        button {
          padding: 8px 15px 8px 15px;
          border: 1px solid $border-color-2;
          font-size: 18px;
        }
        input {
          width: 4em;
          text-align: center;
          outline: none;
          font-size: 20px;
          border: 1px solid $border-color-2;
        }
      }
      #add-cart-btn {
        padding: 13px 20px;
        margin-top: 20px;
        font-size: 18px;
        background-color: $red-color;
        color: #fff;
        border: none;
        border-radius: 3px;
      }
      #add-cart-btn:hover {
        background-color: #f50c1c;
      }
    }
  }
}
